.navbar {
  background-color: rgb(115, 173, 159);
  margin-bottom: 30px;
  padding: 0px;
}

.navbar-brand {
  margin-left: 150px;
  font-weight: bold;
  font-size: 30px;
  color: white !important;
}

.navbar-collapse {
  font-size: 20px;
  color: white !important;
  padding: 0px;
  margin: 0px;
}

.instructions {
  margin: 0 auto;
  text-align: center;
}
